<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "{% static 'css/bootstrap.main.css' %}" type ="text/css" >
    <title>{% block title %}{% endblock%}</title>
</head>
<body>
    <div class="container-fluid">
        <div class = "row">
            <div class="col-sm-2">
<!--                <center>-->
                    <img src = "{% static 'images/hao1.jpg'%}" class="responsive-img" style="max-height:150px"/>
<!--                </center>-->
            </div>
            <div class="col-sm-10">
                <center>
                    <h1>Blog lam tu python</h1>
                </center>
            </div>
        </div>
    </div>
    {% block content %}


    {% endblock %}
</body>
</html>