<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "{% static 'css/bootstrap.main.css' %}" type ="text/css" >
    <title>{% block title %}{% endblock%}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        html, body{
        height: 100%
        background-color: #f6f6f6
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class = "row">
            <div class="col-sm-2">
<!--                <center>-->
                    <img src = "{% static 'images/hao1.jpg'%}" class="responsive-img" style="max-height:150px"/>
<!--                </center>-->
            </div>
            <div class="col-sm-10">
                <center>
                    <h1>My Blog</h1>
                </center>
            </div>
        </div>
        <br>
        <div class="row" class="bg-success p-2 text-white">
            <div class="col-sm-2" class="bg-success p-2 text-white">
                <div class="bs-sliderbar">
                    <nav class="nav flex-cloumn">
                        <a class="nav-link" href="/">Information</a>
                        <a class="nav-link" href="/blog">Blog</a>
                        <a class="nav-link" href="/contact">Contact</a>
                    </nav>
                </div>
            </div>
            <div class="col-sm-10">
                <div class="comtainer-fluid">
                    {% block content %}


                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
<footer>
    <div class="container-fluid">
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Google</a>
    </div>
</footer>
</body>
</html>